src/main/mule/sapconnector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a5cb656-4ce3-4619-ba74-9c1a41296592">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sap:sap-config name="SAP_Config" doc:name="SAP Config" doc:id="f3439795-ccb3-4029-aea6-6062af0e58df" >
		<sap:simple-connection-provider-connection username="MULE01" password="mule2015" systemNumber="00" client="800" applicationServerHost="54.174.74.71" />
	</sap:sap-config>
	<s4hana:config name="SAP_S_4HANA_Config" doc:name="SAP S 4HANA Config" doc:id="881d161d-e43b-49c1-a455-f751c527ab7f" >
		<s4hana:basic-authentication-connection username="MULE01" password="mule2015" baseUrl="http://sapidp.demos.mulesoft.com:8000" cacheEntryTtlTimeUnit="SECONDS" edmExpirationIntervalTimeUnit="NANOSECONDS" />
	</s4hana:config>
	<flow name="sapconnectorFlow_PoDetail_sRFC" doc:id="bf380374-f947-4bc3-8152-b1803a5182db" >
		<http:listener doc:name="Listener" doc:id="0a7bc440-f2be-42b8-a633-756b04bce57f" config-ref="HTTP_Listener_config" path="/RFC/PoDetail"/>
		<ee:transform doc:name="Transform Message" doc:id="5bd1e79e-537e-4679-bce3-a30b2a3f117a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	ZBAPI_GET_PO_DETAIL: {
		"import": {
	PO_NO: attributes.queryParams.PO_NO as String
	}
}
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:sync-rfc key="ZBAPI_GET_PO_DETAIL" doc:name="Synchronous Remote Function Call" doc:id="69444e24-162b-4f35-a938-383117fabcd7" config-ref="SAP_Config"/>
	</flow>
	<flow name="sapconnectorFlow_GWSAMPLE_BASIC_OData" doc:id="06cdcf89-6454-4871-a512-a17d4b474d1b" >
		<http:listener doc:name="Listener" doc:id="a59af413-6692-4b77-8caf-943509b6351f" config-ref="HTTP_Listener_config" path="/odata/GWSAMPLE_BASIC">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		<s4hana:query service="GWSAMPLE_BASIC" entityType="SalesOrderSet" doc:name="Query" doc:id="3ad31323-36c8-41a1-a3e0-b46e9a7a35fc" config-ref="SAP_S_4HANA_Config"/>
	</flow>
</mule>
